.container {
	flex: 1;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

/* Tablet and laptop+ */
@media screen and (min-width: 481px) {
	.container {
		margin: 2rem 0;
	}
}

.chart {
	align-items: flex-end;
	gap: 2px;
}

.bar {
	flex-grow: 1;
	background-color: var(--white);
}
