.primary {
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

.primary:hover {
	background-color: lightgray;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.primary {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.primary {
		font-size: 1.9rem;
	}
}

@media screen and (min-width: 769px) {
	.primary {
		font-size: 1.5rem;
	}
}
