/* General styles */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	font-weight: 400;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2 {
	line-height: 0.8;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.2rem;
}

header {
	text-align: center;
}

main {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* React div */
#root {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

/* Default color scheme */
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
